body {
   display: flex;
   justify-content: center;
   margin-top: 50px;
}




.painel {
   background-color:  #444444;
   width: 420px;
   height: 450px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border-radius: 15px;
   font-family:Arial, Helvetica, sans-serif;
   color: white;

   .form {
      display: flex;
      justify-content: center;
      
      input {
         background-color: #555555;
         border: none;
         border-radius: 20px;
         width: 320px;
         height: 40px;
         padding-left: 20px;
         color: white;
         font-size: 15px;

         
      }
      input:focus {
         outline: none;
         
      }

      button {

         background-color: #CCCCCC;
         border: none;
         border-radius: 20px;
         width: 40px;
         height: 40px;
         margin-left: 5px;
         
         img{
            width: 20px;
         }
      
      }
   }

   h1 {
      font-size: 30px;
   }

   .info {
      display: flex;
      justify-content: space-between;
      
      width: 200px;
   }

   .buttons {
      display: flex;
      justify-content: space-between;
      width: 300px;
      margin: 5px;


      button {
         width: 120px;
         height: 35px;
         border: none;
         border-radius: 20px;
         background-color: #555555;
         color: white;
      }
   }
}